            .textHolder {
                min-height: 95%;
                width: 80%;
                background-color: lightblue;
                margin: auto;
                border-top: 15px double blue;
            }
            .text {
                margin-left: 45px;
                margin-top: 25px;
                margin-right: 45px;
                margin-bottom: 25px;
                color: blue;
                text-indent: 45px;
            }
            h1 {
                color: #003a99;
                text-align: center;
            }
            pre {
                font-family: Monospace;
                border-left: 5px solid grey;
                text-indent: 0px;
                color: black;
                background-color: lightgrey;
                border-top: 15px solid lightgrey;
                border-bottom: 0px solid lightgrey;
            }
            button {
                height: 30px;
                background-color: lightgreen;
                border-color: green;
                margin-left: 45px;
                margin-top: 25px;
                margin-right: 45px;
                margin-bottom: 25px;
            }
            a {
                text-decoration: none;
                color: blue;
                margin-left: 45px;
                margin-top: 25px;
                margin-right: 45px;
                margin-bottom: 25px;
            }
